* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.nav-wrapper {
    width: 100%;
    background-color: #181818;
    color: white;
    position: fixed;
    top: 0%;
    z-index: 99;
    padding: 15px 7.5%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a {
    color: white;
    text-decoration: none;
}

.nav-logo {
    flex: 1;
}

.nav-logo a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.nav-menu {
    flex: 5;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
}

.nav-menu a {
    font-weight: 500;
}

#button-logout {
    color: black;
}

#button-logout button {
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.5s ease;
}

#button-logout button:hover {
    background-color: #181818;
    color: white;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #181818;
    color: white;
    padding: 0px 8%;
    display: flex;
}

.footer-logo {
    display: flex;
    gap: 12px;
    align-items: center;
    flex: 1;
}

.footer-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content-1,
.footer-content-2,
.footer-content-3 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-content-1 a,
.footer-content-2 a,
.footer-content-3 a {
    cursor: pointer;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.banner {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 125px;
    padding: 5px 50px 5px 100px;
    clip-path: polygon(0 0, 100% 0%, 97.5% 100%, 0% 100%);
}

.banner a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    margin-right: 15px;
}

.banner p {
    display: inline-block;
    font-size: 14px;
}

.landing-wrapper {
    height: 100vh;
}

.video-wrapper {
    position: sticky;
    z-index: -1;
}

.video-wrapper video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
}

.landing-container {
    color: rgb(255, 255, 255);
    padding: 15% 0 0 100px;
    overflow: hidden;
}

.landing-container h4 {
    position: relative;
    font-size: 24px;
    animation: slide-in 2s ease-out forwards;
}

.landing-container h1 {
    position: relative;
    font-size: 84px;
    margin-bottom: 25px;
    animation: slide-in 2s ease-out forwards;
}

.slide-wrapper {
    display: flex;
    position: relative;
}

.slide-img {
    flex: 1;
    height: 100vh;
    width: 100px;
    object-fit: cover;
    z-index: -1;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0 100%); */
    filter: brightness(20%);
    transition: flex 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.slide-wrapper .active {
    flex: 2;
    filter: brightness(100%);
}

.slide-container {
    position: absolute;
    color: white;
    padding: 7.5% 0 0 100px;
}

.slide-container h1 {
    font-size: 84px;
    margin: 150px 0 0 0;
}

.slide-container h4 {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0;
}

.slide-header {
    position: relative;
    margin-bottom: 25px;
    animation: slide-in 2s ease-out forwards;
}

.slide-sub {
    position: relative;
    margin-bottom: 25px;
    animation: slide-in 2s ease-out forwards;
}

.brand-container {
    display: flex;
    padding: 0 100px;
    align-items: center;
}

.brand-content {
    flex: 1;
}

.brand-content h1 {
    margin-bottom: 40px;
}

.brand-container img {
    flex: 1.75;
}

.brand-button {
    display: flex;
    margin-top: 40px;
}

.contact-home-wrapper {
    height: 100vh;
    position: relative;
    margin-top: 50px;
}

.contact-home-content {
    position: absolute;
    color: white;
    z-index: 1;
    left: 100px;
    top: 12%;
}

.contact-home-content p {
    font-size: 24px;
    font-weight: 300;
}

.contact-home-content h1 {
    font-size: 84px;
}

.contact-home-content img {
    width: 64px;
    margin-top: 25px;
}

.contact-home-img {

    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    z-index: -1;
}

.news-wrapper {
    margin: 100px;
}

.news-header {
    font-size: 84px;
    margin-bottom: 40px;
}

.home-news-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 100px 0;
}

.home-news-content {
    flex: 2;
}

.home-news-content h4 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

.home-news-content p {
    margin-top: 20px;
    font-weight: 300;
}

.home-news-button {
    flex: 1;
    text-align: end;
}

.news-button {
    background-color: transparent;
    color: black;
    border: 0.5px solid rgba(100, 100, 100, 0.404);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.news-button:hover {
    background-color: black;
    color: white;
}

.news-container {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.news-container img {
    flex: 1;
}

.news-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-content h4 {
    font-size: 15px;
    font-weight: 300;
}

.news-redirect {
    margin: auto;
    background-color: #181818;
    color: white;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin: 50px 0;
}

.news-redirect:hover {
    background-color: white;
    color: black;
}

.model-wrapper {
    display: flex;
    height: 100vh;
}

.model-active {
    background-color: rgb(243, 243, 243);
    color: black;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.model-content {
    flex: 1;
    overflow: auto;
    background-color: black;
    color: white;
}

.model-display {
    flex: 2;
    position: relative;
    background-color: black;
}

.model-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    /* transition: width 0.5s ease-in-out; */
}

.model-items-container {
    position: absolute;
    bottom: 7%;
    left: 9%;
    color: white;
    width: 78%;
}

.model-content-items {
    padding: 20px 40px;
}

.model-content-items h1 {
    font-weight: 500;
}

.model-items-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.model-items-header h4 {
    font-weight: 300;
    font-size: 28px;
    color: rgb(200, 200, 200);
}

.model-items-header h1 {
    font-weight: 700;
    font-size: 64px;
}

.model-items-right {
    display: flex;
    align-items: end;
    gap: 10%;
    justify-content: end;   
    flex: 1;
}

.model-button {
    background-color: transparent;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    padding: 14px 45px;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.model-button:hover {
    background-color: black;
    color: white;
}

.model-items-sub {
    display: flex;
    justify-content: space-between;
}

.model-items-sub p {
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: 300;
}

.model-items-sub h4 {
    font-size: 28px;
}

.model-items-wrapper {
    height: 100vh;
}

.like-container {
    text-align: center;
}

.like-container img {
    width: 36px;
    margin-bottom: 2px;
    cursor: pointer;
}

.model-child-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
}

.model-child-content {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.model-child-image {
    flex: 3;
    height: 100%;
    width: 100%;
}

.model-child-image img {
    object-fit: cover;
    object-position: right;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.model-child-text {
    flex: 1;
    padding-right: 100px;
}

.model-child-text h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.model-child-text p {
    font-weight: 300;
}

.model-child-engine {
    flex: 1.325;
    padding-left: 100px;
}

.model-child-engine h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.model-child-engine p {
    font-weight: 300;
}

.model-child-engine-img {
    flex: 1;
    height: 100%;
    width: 100%;
}

.model-child-engine-img img {
    object-fit: cover;
    object-position: center;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
}

.model-child-layout {
    margin-top: 20px;
    display: flex;
    position: relative;
}

.model-child-layout-image {
    width: 58%;
}

.model-child-layout-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
}

.model-child-desc {
    display: flex;
    margin: 100px 100px 175px 100px;
    gap: 150px;
    justify-content: space-between;
}

.model-child-desc h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.model-child-desc p {
    font-weight: 300;
}

.model-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 0;
}

.model-table-container h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
}

.model-table-container p {
    font-size: 14px;
    font-weight: 300;
}

.model-table {
    width: 50%;
}

.model-table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.checkout-button {
    margin: auto;
    background-color: #181818;
    color: white;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin: 50px 0;
}

.checkout-button:hover {
    background-color: white;
    color: black;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-header p {
    font-size: 28px;
}

.comment-header h3 {
    font-size: 18px;
    font-weight: 300;
    color: white;
    background-color: black;
    padding: 2px 8px;
    border-radius: 30%;
}

.comment-wrapper {
    width: 100%;
    padding: 0px 15%;
}

.comment-input-container {
    padding: 25px 3%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.comment-input-container textarea {
    border: none;
    width: 100%;
    outline: none;
    resize: none;
}

.comment-input-star img {
    width: 30px;
    cursor: pointer;
}

.comment-button {
    background-color: #181818;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #181818;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.5s ease;
}

.comment-button:hover {
    background-color: white;
    color: black;
}

.comment-container {
    display: flex;
    gap: 2%;
    margin: 40px 0;
}

.comment-image img {
    width: 45px;
}

.comment-display {
    width: 100%;
}

.comment-display-header {
    display: flex;
    align-items: center;
    gap: 2.5%;
    margin-bottom: 10px;
}

.comment-display-header img {
    width: 25px;
    margin-top: 4px;
}

.checkout-wrapper {
    display: flex;
    margin: 100px 7.5% 0 7.5%;
    gap: 7.5%;
}

.checkout-input-container {
    flex: 3;
}

.checkout-input-container h1 {
    margin-bottom: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-form input {
    margin: 10px 0 20px 0;
}

.checkout-form input {
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid black;
}

.checkout-form hr {
    margin: 30px 0;
}

.checkout-form-option {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout-form-option label {
    padding: 10px 20px;
    color: black;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

.checkout-summary-wrapper {
    flex: 2;

}

.checkout-summary-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    padding: 20px 30px;
    border-radius: 10px;
    height: fit-content;
    position: fixed;
    right: 7.5%;
}

.checkout-summary-container hr {
    margin: 20px 0;
}

.checkout-summary-header {
    display: flex;
    gap: 5%;
    margin-bottom: 25px;
}

.checkout-summary-header img {
    width: 180px;
    border-radius: 10px;
}

.checkout-summary-header {
    font-size: 18px;
    font-weight: 700;
}

.checkout-summary-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkout-summary-title {
    font-size: 18px;
    font-weight: 700;
}

.checkout-summary-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.checkout-qty {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 15px;
    justify-self: center;
}

.checkout-qty img {
    width: 24px;
    cursor: pointer;
}

.checkout-qty p {
    font-size: 20px;
}

.payment-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px 50px;
}

.payment-container hr {
    margin: 20px 0;
}

.payment-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.payment-header h1 {
    margin-right: 80px;
}

.payment-brand {
    margin-bottom: 20px;
}

.payment-instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.payment-instruction img {
    width: 28px;
}

.complete-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.complete-container {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 800px;
}

.complete-header {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 10px;
}

.complete-header p {
    font-size: 20px;
}

.complete-header h1 {
    font-size: 16px;
}

.complete-redirect {
    font-size: 20px;
    margin-top: 40px;
}

.news-content-child {
    margin: 200px 100px 0 100px;
}

.news-content-child-header {
    font-size: 72px;
}

.news-content-child-image {
    object-fit: cover;
    width: 100%;
    margin: 50px 0;
}

.news-content-child-date {
    font-size: 20px;
    font-weight: 300;
}

.news-content-child-desc {
    font-size: 16px;
    margin-top: 50px;
}

.contact-wrapper {
    display: flex;
    height: 100vh;
    padding-left: 100px;
}

.contact-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.contact-text h1 {
    margin-bottom: 30px;
}

.contact-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    width: 70%;
    padding: 20px 30px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.contact-form input {
    background-color: rgb(250, 250, 250);
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);

}

.contact-form textarea {
    background-color: rgb(250, 250, 250);
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
}

.contact-form label {
    display: block;
    margin: 20px 0 10px 0;
}

.contact-button {
    color: white;
    border: 0.5px solid rgba(100, 100, 100, 0.404);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    width: 30%;
    margin-top: 40px;
}

.contact-button:hover {
    color: rgb(160, 160, 160);
}

@keyframes reveal {
    0% {
        width: 0;
    }

    100% {
        width: 100%;

    }
}

@keyframes slide-in {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}